node-red/flows.json
[{"id":"e113863c.64d288","type":"tab","label":"Security","disabled":false,"info":""},{"id":"79f86c8c.6d8cac","type":"tab","label":"Auto Lighting","disabled":false,"info":""},{"id":"68197546.97a4fc","type":"tab","label":"Heating","disabled":false,"info":""},{"id":"b2e2e9ca.4a9828","type":"tab","label":"Auto plugs off","disabled":false,"info":""},{"id":"7a06cada.291114","type":"tab","label":"Garden","disabled":false,"info":""},{"id":"91de5d27.551668","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"4633dbb6.25a394","type":"tab","label":"Easy Living","disabled":false,"info":""},{"id":"4dc12ce1.3d3764","type":"tab","label":"Test Lab","disabled":false,"info":""},{"id":"958f2ac4.d79018","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"afa17f1f.2254b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"10500e8.c4389f2","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"192.168.2.12","proxyPort":"3456","cookieFile":"\\config","refreshInterval":"2","alexaServiceHost":"alexa.amazon.co.uk","amazonPage":"amazon.co.uk","acceptLanguage":"en-UK","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"a34e2fc.c265f5","type":"server-state-changed","z":"e113863c.64d288","name":"Magnet Sensors - Open","server":"958f2ac4.d79018","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.magnet_.*","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":210,"wires":[["3c633702.e59028"],[]]},{"id":"ce8b39fb.f57ec","type":"link out","z":"e113863c.64d288","name":"","links":["ffd1253b.918ed8"],"x":955,"y":90,"wires":[]},{"id":"3c633702.e59028","type":"api-current-state","z":"e113863c.64d288","name":"Is Chris home","server":"958f2ac4.d79018","version":3,"outputs":2,"halt_if":"false","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"device_tracker.chris","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":490,"y":210,"wires":[["9afc55d4.66b9a8"],[]]},{"id":"9afc55d4.66b9a8","type":"time-range-switch","z":"e113863c.64d288","name":"Between 20:00 and 09:00","lat":"54.0850","lon":"-4.7511","startTime":"20:00","endTime":"09:00","startOffset":"","endOffset":"","x":480,"y":120,"wires":[["6594bf71.404bc8"],["3c633702.e59028","e6c99937.2fe788"]]},{"id":"98ba2d09.782268","type":"link out","z":"e113863c.64d288","name":"","links":["353e4d53.4ccd4a"],"x":955,"y":150,"wires":[]},{"id":"42a0322d.63c4ac","type":"link out","z":"e113863c.64d288","name":"","links":["1885c6ec.3b6089"],"x":955,"y":240,"wires":[]},{"id":"e6c99937.2fe788","type":"ha-get-entities","z":"e113863c.64d288","name":"Check Doors","server":"958f2ac4.d79018","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"binary_sensor.magnet_garage_door","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":740,"y":210,"wires":[["42a0322d.63c4ac"]]},{"id":"6594bf71.404bc8","type":"ha-get-entities","z":"e113863c.64d288","name":"Check Doors","server":"958f2ac4.d79018","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"binary_sensor.magnet_","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":740,"y":150,"wires":[["98ba2d09.782268"]]},{"id":"15ecac30.4c99f4","type":"ha-get-entities","z":"e113863c.64d288","name":"Check Doors","server":"958f2ac4.d79018","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"binary_sensor.magnet_","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":740,"y":90,"wires":[["ce8b39fb.f57ec"]]},{"id":"3acd8f54.15cce8","type":"alexa-remote-routine","z":"e113863c.64d288","name":"Play music","account":"10500e8.c4389f2","routineNode":{"type":"music","payload":{"device":{"type":"str","value":"G8M0XG1111150BVC"},"provider":{"type":"str","value":"AMAZON_MUSIC"},"search":{"type":"str","value":"Never gonna give you up"},"duration":{"type":"num","value":"60"}}},"x":730,"y":360,"wires":[[]]},{"id":"38143edc.b40e42","type":"time-range-switch","z":"e113863c.64d288","name":"Between 17:00 and 19:00","lat":"54.0850","lon":"-4.7511","startTime":"17:00","endTime":"19:00","startOffset":"","endOffset":"","x":440,"y":360,"wires":[["3acd8f54.15cce8","4d4cfaf5.354c5c","1eec355e.883dfb"],["4d4cfaf5.354c5c","1eec355e.883dfb"]]},{"id":"dd050b8.4eadbf8","type":"server-state-changed","z":"e113863c.64d288","name":"Magnet Sensors - Open","server":"958f2ac4.d79018","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.magnet_inside_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":420,"wires":[["38143edc.b40e42"],[]]},{"id":"8dbb6007.67756","type":"api-call-service","z":"e113863c.64d288","name":"Echo","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":["media_player.chris_s_echo_plus"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":350,"y":720,"wires":[[]]},{"id":"d8c01ba6.b7e8c","type":"alexa-remote-init","z":"e113863c.64d288","name":"","account":"10500e8.c4389f2","option":"fresh","x":130,"y":720,"wires":[["8dbb6007.67756"]]},{"id":"4ba8891a.cf9a9","type":"api-call-service","z":"e113863c.64d288","name":"Turn on Landing","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_landing"],"data":"{ }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":1100,"y":420,"wires":[[]]},{"id":"89f63933.26c428","type":"template","z":"e113863c.64d288","name":"rgb Colourloop Landing","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": {\n    \"entity_id\":\"light.light_landing\",\n    \"brightness\": 255,\n    \"effect\": \"colorloop\" } \n}","output":"str","x":880,"y":480,"wires":[["4ba8891a.cf9a9"]]},{"id":"d0eb0ab2.b4b0c8","type":"template","z":"e113863c.64d288","name":"rgb Colourloop Hallway","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": {\n    \"entity_id\":\"light.light_hallway\",\n    \"brightness\": 255,\n    \"effect\": \"colorloop\" } \n}","output":"str","x":880,"y":540,"wires":[["ca784ce5.2bed7"]]},{"id":"ca784ce5.2bed7","type":"api-call-service","z":"e113863c.64d288","name":"Turn on Hallway","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_hallway"],"data":"{ }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":1090,"y":480,"wires":[[]]},{"id":"4d4cfaf5.354c5c","type":"stoptimer","z":"e113863c.64d288","duration":"3","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":850,"y":420,"wires":[["89f63933.26c428","d0eb0ab2.b4b0c8","11b2febb.14ae71"],[]]},{"id":"1eec355e.883dfb","type":"stoptimer","z":"e113863c.64d288","duration":"63","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":560,"y":600,"wires":[["10d2af15.bdfa51","e1f3aef3.0d2428"],[]]},{"id":"6ba16523.9441d4","type":"api-call-service","z":"e113863c.64d288","name":"Turn off lights","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_landing","light.light_hallway"],"data":"{ }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":1090,"y":630,"wires":[[]]},{"id":"11b2febb.14ae71","type":"api-call-service","z":"e113863c.64d288","name":"Turn on Aquarium","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.plug_fishtank"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":1100,"y":360,"wires":[[]]},{"id":"10d2af15.bdfa51","type":"template","z":"e113863c.64d288","name":"Warm White Hallway","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": {\n    \"entity_id\":\"light.light_hallway\",\n    \"brightness\": 255,\n    \"rgb_color\": [255,244,229] } \n}","output":"str","x":840,"y":660,"wires":[["6ba16523.9441d4"]]},{"id":"e1f3aef3.0d2428","type":"template","z":"e113863c.64d288","name":"Warm White Landing","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": {\n    \"entity_id\":\"light.light_landing\",\n    \"brightness\": 255,\n    \"rgb_color\": [255,244,229] } \n}","output":"str","x":840,"y":600,"wires":[["6ba16523.9441d4"]]},{"id":"6f255713.9344b8","type":"bigtimer","z":"79f86c8c.6d8cac","outtopic":"","outpayload1":"","outpayload2":"","name":"Sun Timer","comment":"","lat":"54.0850","lon":"-4.7511","starttime":"420","endtime":"540","starttime2":"5004","endtime2":"1290","startoff":"0","endoff":"0","startoff2":"-60","endoff2":"0","offs":0,"outtext1":"on","outtext2":"off","timeout":"180","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":240,"wires":[[],[],["95349fd3.409f38"]]},{"id":"95349fd3.409f38","type":"switch","z":"79f86c8c.6d8cac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":240,"wires":[["109d344b.f4bedc"],["728095cb.09bafc"]]},{"id":"109d344b.f4bedc","type":"api-call-service","z":"79f86c8c.6d8cac","name":"Turn on Aquarium","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.plug_fishtank"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":450,"y":60,"wires":[[]]},{"id":"5c98be6e.920f88","type":"inject","z":"79f86c8c.6d8cac","name":"10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 21 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":510,"y":270,"wires":[["23daf9be.46944e"]]},{"id":"728095cb.09bafc","type":"api-current-state","z":"79f86c8c.6d8cac","name":"Off Already?","server":"958f2ac4.d79018","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.plug_fishtank","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":310,"y":150,"wires":[[],["23daf9be.46944e"]]},{"id":"5d36252d.d70b84","type":"inject","z":"79f86c8c.6d8cac","name":"09:00am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":490,"y":240,"wires":[["23daf9be.46944e"]]},{"id":"23daf9be.46944e","type":"api-call-service","z":"79f86c8c.6d8cac","name":"Turn off Aquarium","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.plug_fishtank"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":510,"y":180,"wires":[[]]},{"id":"71fb4a19.5fe4f4","type":"inject","z":"79f86c8c.6d8cac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":60,"wires":[["95349fd3.409f38"]]},{"id":"dd08ba52.8f8c78","type":"inject","z":"79f86c8c.6d8cac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":120,"wires":[["95349fd3.409f38"]]},{"id":"5f3dcda0.e7fb64","type":"template","z":"79f86c8c.6d8cac","name":"rgb Green","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": {\n    \"entity_id\":\"light.light_landing\",\n    \"brightness\": 255,\n    \"rgb_color\": [0,255,0] } \n}","output":"str","x":970,"y":210,"wires":[[]]},{"id":"407eee0e.d7ab7","type":"template","z":"79f86c8c.6d8cac","name":"rgb Blue","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": {\n    \"entity_id\":\"light.light_landing\",\n    \"brightness\": 255,\n    \"rgb_color\": [0,0,255] } \n}","output":"str","x":960,"y":180,"wires":[[]]},{"id":"cc4f45e7.56da6","type":"template","z":"79f86c8c.6d8cac","name":"rgb Red","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": {\n    \"entity_id\":\"light.light_landing\",\n    \"brightness\": 255,\n    \"rgb_color\": [255,0,0] } \n}","output":"str","x":960,"y":150,"wires":[[]]},{"id":"a797f791.e5bf4","type":"api-call-service","z":"79f86c8c.6d8cac","name":"Turn on Kitchen counter","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_kitchen_counter"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":530,"y":330,"wires":[[]]},{"id":"616607c5.424a2","type":"api-call-service","z":"79f86c8c.6d8cac","name":"Turn off Kitchen Counter","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_kitchen_counter"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":650,"y":390,"wires":[[]]},{"id":"eed30be9.dd41","type":"bigtimer","z":"79f86c8c.6d8cac","outtopic":"","outpayload1":"","outpayload2":"","name":"Sun Timer","comment":"","lat":"54.0850","lon":"-4.7511","starttime":"5004","endtime":"1260","starttime2":"5004","endtime2":"1260","startoff":"0","endoff":"0","startoff2":"0","endoff2":"0","offs":0,"outtext1":"on","outtext2":"off","timeout":"180","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":360,"wires":[[],[],["c4328f3d.893648"]]},{"id":"c4328f3d.893648","type":"switch","z":"79f86c8c.6d8cac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":360,"wires":[["a797f791.e5bf4"],["463a1ec9.11a19"]]},{"id":"1f41e984.4d24ce","type":"inject","z":"79f86c8c.6d8cac","name":"10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 21 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":390,"y":450,"wires":[["616607c5.424a2"]]},{"id":"463a1ec9.11a19","type":"api-current-state","z":"79f86c8c.6d8cac","name":"Off Already?","server":"958f2ac4.d79018","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.plug_fishtank","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":400,"y":390,"wires":[[],["616607c5.424a2"]]},{"id":"fa6315d6.46859","type":"server-state-changed","z":"68197546.97a4fc","name":"","server":"958f2ac4.d79018","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.wiser_everywhere","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"idle","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":180,"wires":[["750d8c452cb608cc"],["45ba3d22758dacda"]]},{"id":"dd33b9ea.ea0d1","type":"api-call-service","z":"68197546.97a4fc","name":"Turn on Hallway Heater","server":"958f2ac4.d79018","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.hallway_heater"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":770,"y":120,"wires":[[]]},{"id":"57bcc76f.2bc5f8","type":"api-call-service","z":"68197546.97a4fc","name":"Turn off Hallway Heater","server":"958f2ac4.d79018","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.hallway_heater"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":770,"y":210,"wires":[[]]},{"id":"65706d58.747e5c","type":"debug","z":"68197546.97a4fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":90,"wires":[]},{"id":"f73236bd.e1a7b","type":"debug","z":"68197546.97a4fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":270,"wires":[]},{"id":"750d8c452cb608cc","type":"switch","z":"68197546.97a4fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":150,"wires":[["dd33b9ea.ea0d1"],[]]},{"id":"45ba3d22758dacda","type":"switch","z":"68197546.97a4fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":210,"wires":[[],["57bcc76f.2bc5f8"]]},{"id":"a203c93.4655db8","type":"switch","z":"b2e2e9ca.4a9828","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":150,"wires":[[],["10596c84.bec0d3"]]},{"id":"3bd46ba.58e8c14","type":"inject","z":"b2e2e9ca.4a9828","name":"8pm","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"30 21 * * *","once":false,"onceDelay":"","topic":"","payloadType":"date","x":860,"y":330,"wires":[["e765efcd.6eb8e8","ed094c56.464378"]]},{"id":"10596c84.bec0d3","type":"api-current-state","z":"b2e2e9ca.4a9828","name":"Off Already?","server":"958f2ac4.d79018","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.plug_air_compressor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":850,"y":210,"wires":[[],["e765efcd.6eb8e8","ed094c56.464378"]]},{"id":"e765efcd.6eb8e8","type":"api-call-service","z":"b2e2e9ca.4a9828","name":"Turn off air compressor","server":"958f2ac4.d79018","version":5,"debugenabled":false,"service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.plug_air_compressor"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":1100,"y":270,"wires":[[]]},{"id":"ed094c56.464378","type":"api-call-service","z":"b2e2e9ca.4a9828","name":"Turn off shed heating","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.shed_spaceheater","switch.plug_warm_shed"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":1090,"y":330,"wires":[[]]},{"id":"fbaccb48.1c1f6","type":"timecheck","z":"b2e2e9ca.4a9828","name":"Is it 8pm?","time":"20:00","x":450,"y":300,"wires":[[],["10596c84.bec0d3"]]},{"id":"adf95547.096ab8","type":"api-current-state","z":"7a06cada.291114","name":"Is Chris home","server":"958f2ac4.d79018","version":3,"outputs":2,"halt_if":"false","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.chris_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":590,"y":90,"wires":[["7758b04e.50945","1bfe079f.9d4538"],["7758b04e.50945","1bfe079f.9d4538"]]},{"id":"4fd6343c.c73564","type":"rbe","z":"7a06cada.291114","name":"Block unless value changes","func":"deadband","gap":"5","start":"","inout":"out","property":"payload","x":350,"y":90,"wires":[["adf95547.096ab8"]]},{"id":"aa737a07.40bd78","type":"trigger-state","z":"7a06cada.291114","name":"Greenhouse","server":"958f2ac4.d79018","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.weather_greenhouse_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"inputs":1,"outputs":4,"customoutputs":[{"outputId":"cjwdxhwc324","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"previous_state","comparatorPropertyValue":"old_state.state","comparatorType":">","comparatorValue":"26"},{"outputId":"0napc98frokm","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"previous_state","comparatorPropertyValue":"old_state.state","comparatorType":"<","comparatorValue":"26"}],"outputinitially":false,"state_type":"str","enableInput":true,"x":90,"y":90,"wires":[["4fd6343c.c73564"],[],["4fd6343c.c73564"],["4fd6343c.c73564"]]},{"id":"cd03dbc9.80cae8","type":"join","z":"7a06cada.291114","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1020,"y":70,"wires":[["c286da0c.0cedd","34684897.a642a8"]]},{"id":"c286da0c.0cedd","type":"api-call-service","z":"7a06cada.291114","name":"Notify","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_chris_2","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{{payload}}}\",\"title\":\"Door Open\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":1160,"y":90,"wires":[["6a8c34cc.2af8b4"]]},{"id":"1bfe079f.9d4538","type":"debug","z":"7a06cada.291114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":130,"wires":[]},{"id":"601ca126.dd66d8","type":"debug","z":"7a06cada.291114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":150,"wires":[]},{"id":"34684897.a642a8","type":"debug","z":"7a06cada.291114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":50,"wires":[]},{"id":"6a8c34cc.2af8b4","type":"debug","z":"7a06cada.291114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1300,"y":90,"wires":[]},{"id":"7758b04e.50945","type":"template","z":"7a06cada.291114","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.attributes.friendly_name}}}","output":"str","x":850,"y":50,"wires":[["cd03dbc9.80cae8","601ca126.dd66d8"]]},{"id":"e8f803ca.584638","type":"bigtimer","z":"7a06cada.291114","outtopic":"","outpayload1":"","outpayload2":"","name":"Sun Timer","comment":"","lat":"54.0850","lon":"-4.7511","starttime":"5004","endtime":"10090","starttime2":"1170","endtime2":"10090","startoff":"0","endoff":"0","startoff2":"0","endoff2":"0","offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":270,"wires":[[],[],["1ce643a.2281dbc"]]},{"id":"1ce643a.2281dbc","type":"switch","z":"7a06cada.291114","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":329.3837356567383,"y":248.06856727600098,"wires":[["1073441d.1cd95c","fe7b0f3e.f4314"],["d0916003.837998","ea42ab87.3f103"]]},{"id":"33dd4ccf.e3293c","type":"api-call-service","z":"7a06cada.291114","name":"Turn off Garden Lights","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.light_garden"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":740,"y":360,"wires":[[]]},{"id":"1073441d.1cd95c","type":"api-call-service","z":"7a06cada.291114","name":"Turn on Garden Lights","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.light_garden"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":740,"y":240,"wires":[[]]},{"id":"548eae2b.13cb08","type":"inject","z":"7a06cada.291114","name":"10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":480,"y":450,"wires":[["33dd4ccf.e3293c","ec795c28.fa39a"]]},{"id":"d0916003.837998","type":"api-current-state","z":"7a06cada.291114","name":"Off Already?","server":"958f2ac4.d79018","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.garden_lights_on_off","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":498.72836685180664,"y":263.5981750488281,"wires":[[],["33dd4ccf.e3293c","ec795c28.fa39a"]]},{"id":"ab07d48.daed2a8","type":"inject","z":"7a06cada.291114","name":"09:00","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":480,"y":410,"wires":[["33dd4ccf.e3293c"]]},{"id":"88801bd2.89b088","type":"server-state-changed","z":"7a06cada.291114","name":"Shed B - Garden Lights","server":"958f2ac4.d79018","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.light_shed_catio","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":630,"wires":[["a96055a3.d436"],["5350b4f3.a6df84"]]},{"id":"a96055a3.d436","type":"api-call-service","z":"7a06cada.291114","name":"Turn on Garden Lights","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.light_garden"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":430,"y":600,"wires":[[]]},{"id":"5350b4f3.a6df84","type":"api-call-service","z":"7a06cada.291114","name":"Turn off Garden Lights","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.light_garden"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":430,"y":660,"wires":[[]]},{"id":"fe7b0f3e.f4314","type":"api-call-service","z":"7a06cada.291114","name":"Turn on Cattery Lights","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_rgb_cattery"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":740,"y":180,"wires":[[]]},{"id":"ec795c28.fa39a","type":"api-call-service","z":"7a06cada.291114","name":"Turn off Cattery Lights","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_rgb_cattery"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":740,"y":300,"wires":[[]]},{"id":"ea42ab87.3f103","type":"api-current-state","z":"7a06cada.291114","name":"Off Already?","server":"958f2ac4.d79018","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_rgb_cattery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":490,"y":330,"wires":[[],["ec795c28.fa39a"]]},{"id":"f719d2a7.b5ec48","type":"join","z":"91de5d27.551668","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":120,"wires":[["8983b370.e09178","152313d6.b7ba0c"]]},{"id":"8983b370.e09178","type":"api-call-service","z":"91de5d27.551668","name":"Notify","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_chris","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{{payload}}}\",\"title\":\"Door Opened Outside of normal hours\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":670,"y":120,"wires":[["d40bd44b.a50da"]]},{"id":"5bee3247.d8522c","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":160,"wires":[]},{"id":"5badba38.daccc4","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"152313d6.b7ba0c","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"d40bd44b.a50da","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"8b2ebc00.defcd","type":"template","z":"91de5d27.551668","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.attributes.friendly_name}}}","output":"str","x":380,"y":100,"wires":[["f719d2a7.b5ec48","5badba38.daccc4"]]},{"id":"ffd1253b.918ed8","type":"link in","z":"91de5d27.551668","name":"Security","links":["ce8b39fb.f57ec"],"x":155,"y":120,"wires":[["8b2ebc00.defcd","5bee3247.d8522c"]]},{"id":"353e4d53.4ccd4a","type":"link in","z":"91de5d27.551668","name":"","links":["98ba2d09.782268"],"x":155,"y":280,"wires":[["5ae235e3.320ed4","3ab18a.b8cec676"]]},{"id":"1885c6ec.3b6089","type":"link in","z":"91de5d27.551668","name":"","links":["42a0322d.63c4ac"],"x":155,"y":460,"wires":[["869f33d8.f6aab8","98d31f92.ae305"]]},{"id":"54f67f12.a33c1","type":"join","z":"91de5d27.551668","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":280,"wires":[["e14f94c0.a0d29","7913e823.e3adf8"]]},{"id":"e14f94c0.a0d29","type":"api-call-service","z":"91de5d27.551668","name":"Notify","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_chris","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{{payload}}}\",\"title\":\"Door Opened Outside of normal hours\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":670,"y":280,"wires":[["1da5753.e19d08b"]]},{"id":"3ab18a.b8cec676","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":320,"wires":[]},{"id":"bd72136b.feff5","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"7913e823.e3adf8","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"1da5753.e19d08b","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"5ae235e3.320ed4","type":"template","z":"91de5d27.551668","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.attributes.friendly_name}}}","output":"str","x":380,"y":260,"wires":[["54f67f12.a33c1","bd72136b.feff5"]]},{"id":"e35de17a.4f64d","type":"join","z":"91de5d27.551668","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":460,"wires":[["bcbaf859.c0d908","1f7d4077.5be35"]]},{"id":"bcbaf859.c0d908","type":"api-call-service","z":"91de5d27.551668","d":true,"name":"Notify","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_chris","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{{payload}}}\",\"title\":\"Door Opened\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":670,"y":460,"wires":[["5951343f.8c978c"]]},{"id":"98d31f92.ae305","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":500,"wires":[]},{"id":"8ceb466c.96d778","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":520,"wires":[]},{"id":"1f7d4077.5be35","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":420,"wires":[]},{"id":"5951343f.8c978c","type":"debug","z":"91de5d27.551668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":460,"wires":[]},{"id":"869f33d8.f6aab8","type":"template","z":"91de5d27.551668","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.attributes.friendly_name}}}","output":"str","x":380,"y":440,"wires":[["e35de17a.4f64d","8ceb466c.96d778"]]},{"id":"68cfb9d3.da7fd8","type":"trigger-state","z":"4633dbb6.25a394","d":true,"name":"","server":"958f2ac4.d79018","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.chris","entityidfiltertype":"exact","debugenabled":true,"constraints":[],"inputs":1,"outputs":4,"customoutputs":[{"outputId":"8pcab4295wu","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"home"},{"outputId":"fh7t34gpgjh","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"away"}],"outputinitially":false,"state_type":"str","enableInput":true,"x":110,"y":150,"wires":[["9b28ed0c.ef1ce8","75aff2f.04b160c"],[],["9b28ed0c.ef1ce8"],["75aff2f.04b160c"]]},{"id":"9fa20e6c.975798","type":"api-call-service","z":"4633dbb6.25a394","name":"ON","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.chrisdesktop"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":600,"y":90,"wires":[["8c79b091.ae4628"]]},{"id":"2bc95739.41c788","type":"api-call-service","z":"4633dbb6.25a394","name":"OFF","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.chrisdesktop"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"flow","x":450,"y":150,"wires":[["8c79b091.ae4628"]]},{"id":"fb8e62a9.5d9828","type":"server-state-changed","z":"4633dbb6.25a394","d":true,"name":"Shed Motion","server":"958f2ac4.d79018","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lumi_lumi_sensor_motion_aq2_fe272404_ias_zone","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":240,"wires":[["bf7ab5fb.1b12c8"],[]]},{"id":"bf7ab5fb.1b12c8","type":"time-range-switch","z":"4633dbb6.25a394","name":"After 6AM","lat":"54.0850","lon":"-4.7511","startTime":"06:00","endTime":"23:59","startOffset":"","endOffset":"","x":273.333309173584,"y":239.99997806549072,"wires":[["f15fbfbc.ca7c6","c9cb5b42.2987c8"],[]]},{"id":"f15fbfbc.ca7c6","type":"api-current-state","z":"4633dbb6.25a394","d":true,"name":"Light Off?","server":"958f2ac4.d79018","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.tuyatec_o6sncwd6_ts0012_fe715bfe_on_off","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":200,"wires":[[],["35b2344b.a64804"]]},{"id":"35b2344b.a64804","type":"api-call-service","z":"4633dbb6.25a394","name":"ON","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.tuyatec_o6sncwd6_ts0012_fe715bfe_on_off"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":904.9999504089355,"y":202.99997901916504,"wires":[[]]},{"id":"e20df088.8a87a8","type":"api-render-template","z":"4633dbb6.25a394","d":true,"name":"Still in Shed?","server":"958f2ac4.d79018","version":0,"template":"{{ states.variable.last_motion.state != 'Shed Motion' }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":600,"y":260,"wires":[["25334d4d.b0fd82"]]},{"id":"c9cb5b42.2987c8","type":"stoptimer","z":"4633dbb6.25a394","duration":"4","units":"Minute","payloadtype":"num","payloadval":"0","name":"4min","x":430.0000190734863,"y":266.6667079925537,"wires":[["e20df088.8a87a8"],[]]},{"id":"25334d4d.b0fd82","type":"switch","z":"4633dbb6.25a394","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","outputs":1,"x":778.3333015441895,"y":260.00000286102295,"wires":[["7db36c15.79dcc4"]]},{"id":"7db36c15.79dcc4","type":"api-call-service","z":"4633dbb6.25a394","name":"OFF","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.tuyatec_o6sncwd6_ts0012_fe715bfe_on_off"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":907.5001754760742,"y":260.00003147125244,"wires":[[]]},{"id":"b0aa0843.545a18","type":"server-state-changed","z":"4633dbb6.25a394","d":true,"name":"Shed Switch Flipped On","server":"958f2ac4.d79018","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.tuyatec_o6sncwd6_ts0012_fe715bfe_on_off","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":300,"wires":[["c9cb5b42.2987c8"],[]]},{"id":"63592764.678b6","type":"rbe","z":"4633dbb6.25a394","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":510,"y":30,"wires":[["9fa20e6c.975798"]]},{"id":"75aff2f.04b160c","type":"rbe","z":"4633dbb6.25a394","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":330,"y":150,"wires":[["2bc95739.41c788"]]},{"id":"4a899ce.9d6ee64","type":"api-call-service","z":"4633dbb6.25a394","name":"","server":"958f2ac4.d79018","version":5,"debugenabled":true,"domain":"notify","service":"mobile_app_h8416_chris","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\": \"Battlestation is on\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":880,"y":60,"wires":[[]]},{"id":"9ec9710a.f9c828","type":"api-call-service","z":"4633dbb6.25a394","name":"","server":"958f2ac4.d79018","version":5,"debugenabled":true,"domain":"notify","service":"mobile_app_h8416_chris","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\": \"Battlestation is off\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":940,"y":90,"wires":[[]]},{"id":"9b28ed0c.ef1ce8","type":"time-range-switch","z":"4633dbb6.25a394","name":"Between 16:30 and 20:00","lat":"54.0850","lon":"-4.7511","startTime":"16:30","endTime":"20:00","startOffset":"","endOffset":"","x":360,"y":90,"wires":[["63592764.678b6"],[]]},{"id":"8c79b091.ae4628","type":"api-current-state","z":"4633dbb6.25a394","name":"Is Chris home","server":"958f2ac4.d79018","version":3,"outputs":2,"halt_if":"false","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.chris_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":660,"y":150,"wires":[["4a899ce.9d6ee64"],["9ec9710a.f9c828"]]},{"id":"475a01e5.6b209","type":"time-range-switch","z":"4633dbb6.25a394","name":"After 20:00","lat":"54.0850","lon":"-4.7511","startTime":"17:00","endTime":"19:00","startOffset":"","endOffset":"","x":250,"y":510,"wires":[["3236ab71.e85654"],["68a8210d.e41b1"]]},{"id":"682b91.3fb1147","type":"api-call-service","z":"4633dbb6.25a394","name":"Turn Off Light","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_masterbedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":470,"y":570,"wires":[[]]},{"id":"bdc11041.b24e5","type":"server-state-changed","z":"4633dbb6.25a394","name":"Turn off bedroom switch blue LED","server":"958f2ac4.d79018","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.light_masterbedroom_switchlight","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":360,"wires":[["cd8c9e38.98c6a"],[]]},{"id":"cd8c9e38.98c6a","type":"api-call-service","z":"4633dbb6.25a394","name":"Turn Off Light","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.light_masterbedroom_switchlight"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":380,"y":330,"wires":[[]]},{"id":"169ecc44.acff7c","type":"switch","z":"4633dbb6.25a394","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":450,"wires":[["8ffb148c.a3816"],["7a58577b.3d72c8"]]},{"id":"8ffb148c.a3816","type":"api-call-service","z":"4633dbb6.25a394","name":"Turn On Sleep Mode","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_adaptive_lighting_master_bedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":430,"y":420,"wires":[["475a01e5.6b209"]]},{"id":"7a58577b.3d72c8","type":"api-call-service","z":"4633dbb6.25a394","name":"Turn Off Sleep Mode","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_adaptive_lighting_master_bedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":670,"y":510,"wires":[[]]},{"id":"dfccda31.55d28","type":"bigtimer","z":"4633dbb6.25a394","outtopic":"","outpayload1":"","outpayload2":"","name":"Sun Timer","comment":"","lat":"54.0850","lon":"-4.7511","starttime":"1230","endtime":"510","starttime2":"1230","endtime2":"510","startoff":"0","endoff":"0","startoff2":"0","endoff2":"","offs":0,"outtext1":"on","outtext2":"off","timeout":"180","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":70,"y":480,"wires":[[],[],["169ecc44.acff7c"]]},{"id":"3236ab71.e85654","type":"switch","z":"4633dbb6.25a394","name":"","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"lte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":510,"wires":[["682b91.3fb1147"]]},{"id":"68a8210d.e41b1","type":"looptimer","z":"4633dbb6.25a394","duration":"2","units":"Minute","maxloops":"100","maxtimeout":"2","maxtimeoutunits":"Hour","name":"","x":260,"y":570,"wires":[["475a01e5.6b209"],[]]},{"id":"96039faf.01368","type":"eztimer","z":"4633dbb6.25a394","d":true,"name":"","debug":false,"autoname":"20:00:00","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","latLongHaZone":"zone.home","lat":"54.0852","lon":"4.7545","timerType":"2","startupMessage":false,"ontype":"2","ontimesun":"sunsetStart","ontimetod":"20:00:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"21:30:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":90,"y":660,"wires":[["fb9252f7.e53fc"]]},{"id":"a0d8d81.52aa9a8","type":"api-call-service","z":"4633dbb6.25a394","name":"Turn On Light","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_masterbedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":440,"y":630,"wires":[[]]},{"id":"fb9252f7.e53fc","type":"switch","z":"4633dbb6.25a394","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":660,"wires":[["a0d8d81.52aa9a8"],[]]},{"id":"ec13ea28.b04e38","type":"api-call-service","z":"4633dbb6.25a394","name":"Turn Off Light","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_masterbedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":440,"y":690,"wires":[[]]},{"id":"f629309.cd85d5","type":"ha-get-entities","z":"4dc12ce1.3d3764","d":true,"name":"","server":"958f2ac4.d79018","version":0,"rules":[{"property":"entity_id","logic":"is","value":"binary_sensor.window","valueType":"re"},{"property":"state","logic":"is","value":"off","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":280,"y":120,"wires":[["bfa37ab0.60afa8","b4c56853.c6216"]]},{"id":"1e884ff2.d8e56","type":"join","z":"4dc12ce1.3d3764","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":660,"y":120,"wires":[["35867e37.265bfa","972ae5e3.36e098"]]},{"id":"35867e37.265bfa","type":"api-call-service","z":"4dc12ce1.3d3764","name":"Notify","server":"958f2ac4.d79018","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_h8416_chris","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Door Open\", \"message\":\"{{{payload}}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":780,"y":120,"wires":[["5094dc86.6a8fa4"]]},{"id":"d5ed144.81dcc68","type":"inject","z":"4dc12ce1.3d3764","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":120,"y":120,"wires":[["f629309.cd85d5","8073942d.5c6bb","fa3267a3.ff6b58"]]},{"id":"bfa37ab0.60afa8","type":"debug","z":"4dc12ce1.3d3764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":160,"wires":[]},{"id":"10f8ec32.3db45c","type":"debug","z":"4dc12ce1.3d3764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":180,"wires":[]},{"id":"972ae5e3.36e098","type":"debug","z":"4dc12ce1.3d3764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":80,"wires":[]},{"id":"8073942d.5c6bb","type":"ha-get-entities","z":"4dc12ce1.3d3764","d":true,"name":"","server":"958f2ac4.d79018","version":0,"rules":[{"property":"entity_id","logic":"is","value":"binary_sensor.door","valueType":"re"},{"property":"state","logic":"is","value":"off","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":280,"y":180,"wires":[["bfa37ab0.60afa8"]]},{"id":"fa3267a3.ff6b58","type":"ha-get-entities","z":"4dc12ce1.3d3764","name":"Check Doors","server":"958f2ac4.d79018","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"binary_sensor.magnet_","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":280,"y":40,"wires":[["bfa37ab0.60afa8","b4c56853.c6216"]]},{"id":"5094dc86.6a8fa4","type":"debug","z":"4dc12ce1.3d3764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":120,"wires":[]},{"id":"b4c56853.c6216","type":"template","z":"4dc12ce1.3d3764","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.attributes.friendly_name}}}","output":"str","x":490,"y":100,"wires":[["1e884ff2.d8e56","10f8ec32.3db45c"]]},{"id":"c5b782ab.fc3238","type":"alexa-remote-routine","z":"4dc12ce1.3d3764","name":"Play music","account":"10500e8.c4389f2","routineNode":{"type":"music","payload":{"device":{"type":"str","value":"G2A0U2049306031A"},"provider":{"type":"str","value":"AMAZON_MUSIC"},"search":{"type":"str","value":"never gonna give you up"},"duration":{"type":"num","value":"60"}}},"x":450,"y":310,"wires":[[]]},{"id":"16ee6b76.4bca55","type":"inject","z":"4dc12ce1.3d3764","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":310,"wires":[["c5b782ab.fc3238"]]}]